extends ../../layouts/default.pug 
include ../../mixins/filter-status.pug
include ../../mixins/search.pug 
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/sort.pug 
include ../../mixins/alert.pug
include ../../mixins/table-tree


block main 
    if(role.permissions.includes("products-category_view"))
        +alert-success(5000)
        h1 Danh sách danh mục

        .card.mb-3 
            .card-header Bộ lọc và Tìm kiếm
            .card-body 
                .row 
                    .col-6
                        +filterStatus(filterStatus)
                    .col-6 
                        +search(keyword)
        .card.mb-3 
            .card-header Danh sách
            .card-body 
                .row 
                    .col-8
                        if(role.permissions.includes("products-category_edit"))
                            +form-change-multi(`${prefixAdmin}/products-category/change-multi?_method=PATCH`)
                    .col-4
                        if(role.permissions.includes("products-category_create"))
                            a(
                                href=`${prefixAdmin}/products-category/create`
                                class="btn btn-outline-success"
                            ) + Thêm mới
        .card.mb-3 
            .card-header Sắp xếp 
            .card-body 
                .row 
                    .col-4 
                        +sort-productCategory()
                    table(
                            class="table table-hover table-sm "
                            checkbox-multi
                        )
                            thead 
                                tr
                                    th 
                                        input(type="checkbox" name="checkall")
                                    th STT 
                                    th Hình ảnh 
                                    th Tiêu đề
                                    th Vị trí
                                    th Trạng thái 
                                    th Hành động
                            tbody 
                                +table-tree(records)
        +pagination(objectPagination)

        form(
        action="" 
        method="POST"
        id="form-change-status"
        path=`${prefixAdmin}/products-category/change-status`) 


        form(
            action="" 
            method="POST"
            id="form-delete-item"
            path=`${prefixAdmin}/products-category/delete`) 




        script(src="/admin/js/product-category.js" )  